{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
       <h1>This is my first views property</h1>
       <img src="{% static 'images/virat.jpg'  %}" width="300px" height="200px" alt="" srcset=""><br>
       <a href="{% url 'second:second' %}">Click Here</a>
    </center>
</body>
</html>